@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/*font-family: 'Pacifico', cursive;*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;

}

body{
/* width: 100vw;
height: 100vh; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: 'Pacifico', cursive;
background-image: url(https://img.freepik.com/vector-gratis/paisaje-granja-diseno-plano_52683-9442.jpg?size=626&ext=jpg);
background-repeat: no-repeat;
background-size: cover;
color: #000;
cursor: pointer;
}

h1{
    font-size: 50px;
    text-align: center;
    color: #f87372;
    filter: drop-shadow(2px 2px 2px #3b3636) ;

}

button{
    width: 30px;
    height: 30px;
    font-size: 25px;
    background-color: transparent;
    color: #FFF;
    border-style: none;
}

.cell{
  border:1px solid transparent;
  border-radius: 10px;

}

.cell:active{
  border:2px solid  #f87372;
  border-radius: 10px;
  transition-duration: 0.1s;
}


.container{
    width: 600px;
    height: 100%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid{
    width: 504px;
    height: 504px;
    border-radius: 5px;
    background-color:rgb(255 255 255 / 40%);
    border: 4px #f87372 solid;
    position: relative;
}

.control{
    width: 504px;
    height: 50px;
    background-color: #f87372;
    color: #FFF;
    font-size: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 20px 0;  
    filter: drop-shadow(2px 2px 2px #3b3636) ;  
}

.points{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.time{
width: 150px;
height: 50px;
background-color: #f87372;
color: #FFF;
font-size: 25px;
text-align: center;
border-radius: 10px;
display: flex;
justify-content: center;
flex-direction: row;
align-items: center;
margin: 20px 0;
filter: drop-shadow(2px 2px 2px #3b3636) ;
}
